{% extends '@paragraphs_types/paragraph.html.twig' %}

{#
    Variable image with keys: url, caption, sizes (large, medium, small, ..)
#}

{% block content %}
  <div{{ attributes.addClass('rt-content') }}>
    <figure>
      {{ content.field_image }}
      <p>{{ content.field_caption }}</p>
    </figure>
  </div>
{% endblock %}
