{% extends '@paragraphs_types/paragraph.html.twig' %}

{% block content %}
  <div{{ attributes }}>
    <div class="text-column rt-content">
      {{ content.field_text }}
    </div>
  </div>
{% endblock %}


